# ============================================
# APPLICATION
# ============================================
APP_ENV=development
APP_PORT=3456
APP_URL=http://localhost:3456
APP_NAME=Framework
APP_TIMEZONE=UTC

# ============================================
# DATABASE CONFIGURATION
# ============================================
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=
DB_CHARSET=utf8mb4_general_ci
DB_LOGGING=off
DB_SYNC=on
DB_SEED=on
# ===== PostgreSQL Only =====
DB_SCHEMA=public
# ===== SQLite Only =====
DB_PATH=database.sqlite
# ===== MongoDB Only =====
DB_URL=mongodb://localhost:27017
# ===== Oracle Only =====
DB_SID=xe
DB_CONNECT_STRING=localhost/XEPDB1

# ============================================
# JWT AUTHENTICATION
# ============================================
JWT_SECRET_KEY=Isk4hZRHcGMWtLLbtKQVqjcws51opLav
JWT_EXPIRE_IN=86400

# ============================================
# COOKIE
# ============================================
COOKIE_NAME=framework
COOKIE_SECRET=yRfAASIgdLpW7Q9U2yc1O4l9fM6cbQJQ
COOKIE_EXPIRE=86400
COOKIE_PATH=/
COOKIE_SECURE=false
COOKIE_HTTP_ONLY=true

# ============================================
# MAILER
# ============================================
MAIL_DRIVER=gmail
MAIL_USER=youremail@gmail.com
MAIL_PASS=yourpassword
MAIL_FROM_NAME='Framework'
MAIL_FROM_EMAIL=youremail@gmail.com
